{% extends 'apps/base.html' %}
{% load static %}

{% block title %}Explore Adventure | AAK{% endblock %}

{% block extra_css %}
<link rel="stylesheet" href="{% static 'apps/caravan.css' %}">
{% endblock %}

{% block main %}

<div class="page-container">

    <!-- HEADER -->
    <div class="page-header">
        <h1>Caravan Adventures</h1>
        <p>Discover best trekking experiences with AAK Camps</p>
    </div>

    <!-- LIST -->
    {% for item in data_caravan %}
    <div class="trek-card">

        <!-- IMAGE -->
        <div class="trek-image">
            <img src="{{ item.image.url }}" alt="{{ item.name }}">
        </div>

        <!-- DETAILS -->
        <div class="trek-details">

            <h2>{{ item.name }}</h2>

            <!-- Rating -->
            <div class="rating">
                <span>★★★★☆</span>
                <small>4.5 (120 reviews)</small>
            </div>

            <!-- Description -->
            <p>{{ item.description }}</p>

            <!-- Features -->
            <div class="features">
                <span>✔ Free Cancellation</span>
                <span>✔ Recommended</span>
            </div>

            <!-- Button -->
            <a href="{% url 'detail-page' 'caravan' item.id %}" class="btn">
                View Details
            </a>
        </div>

        <!-- PRICE -->
        <div class="trek-price">
            <h3>Price</h3>
            <h2>₹{{ item.price }}</h2>

            <h4> {{ item.city }}</h4>
            
        </div>

    </div>
    {% endfor %}

</div>

{% endblock %}