<!DOCTYPE html>
<html>
<head>
    <title>Details</title>


    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>

<h2>{{ obj.name }}</h2>

<img src="{{ obj.image.url }}" width="400">

<p>{{ obj.description }}</p>
<p>Price: ₹ {{ obj.price }}</p>

{% if obj.city %}
<p>City: {{ obj.city }}</p>
{% endif %}

{% if obj.country %}
<p>Country: {{ obj.country }}</p>
{% endif %}

<br>
<a href="/explore/">⬅ Back</a>

<button class="btn btn-primary mt-3" data-bs-toggle="modal" data-bs-target="#bookingModal">
    Book Now
</button>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>


</body>
</html>